@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

/* Arabic Font Support */
.font-arabic {
  font-family: 'Noto Kufi Arabic', sans-serif;
}